<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>NBP APP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="banner">
  <h3 class="banner-text">
    Tabela aktualnych kursów Narodowego banku polskiego
  </h3>
</div>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> LP. </th>
    <td mat-cell *matCellDef="let element"> {{dataSource.data.indexOf(element)}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
    <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Kod waluty </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="bid">
    <th mat-header-cell *matHeaderCellDef> Cena sprzedazy </th>
    <td mat-cell *matCellDef="let element"> {{element.bid | plncurrency}}</td>
  </ng-container>

  <ng-container matColumnDef="ask">
    <th mat-header-cell *matHeaderCellDef> Cena kupna </th>
    <td mat-cell *matCellDef="let element"> {{element.ask | plncurrency}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-icon-button matTooltip="Przelicz walutę" [ngClass]="{'selected-row': dataSource.data.indexOf(element) == selectedRow}" (click)="onRowClick(element)"> 
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Pokaż historię"> 
        <mat-icon>history</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

